body {
    z-index: 1;
}

* {
    padding: 0;
    margin: 0;
}

.navb {
    background-color: #ffffff;
    height: 12vh;
    z-index: 100;
    margin: 0;
}

.navbar {
    color:gray;
    margin: 2vh 2vw;
    height: 5vh;
    padding: 2vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed; 
    top: 0; 
    width: 100%;
    overflow: hidden;
    background-color: rgb(196, 227, 255);
}

.logo {
    height: 10vh;
}

.nav_btn {
    color: rgb(0, 0, 0);
    font-size: 3vh;
    font-style: normal;
    font-family: Times New Roman;
    margin: 0 5vw;
    text-decoration: none;
    
}

.nav_btn:hover{
    color: rgb(81, 157, 255);

}

.main {
    
}

.btn {
    color: rgb(0, 0, 0);
    background-color: rgb(196, 227, 255);
    font-size: 2vh;
    font-style: normal;
    font-family: Times New Roman;
    width: 15vw;
    height: 10vh;
    margin-top: 2vh;
}

.btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(81, 157, 255);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.settings_form {
    width: 80vw;
    margin: 0 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.settings_select {
    padding: 2vh 0;
    /* border: 0.1em solid #579aff; */
}

.select_list {
    border: 0.1em solid #ffffff;
    background-color: rgb(196, 227, 255);
    height: 3vh;
    width: 20vw;
}


.column {
    display: flex;
    flex-direction: column;

}

.row2 {
    padding: 0 1.5vh;
}

.btn_settings {
    width: 18vw;
    height: 6vh;
    color: rgb(0, 0, 0);
    background-color: rgb(196, 227, 255);
    font-size: 2vh;
    font-style: normal;
    font-family: Times New Roman;
    
    margin-top: 2vh;
}

.btn_settings:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(81, 157, 255);
}

.btn_settings.disabled {
    color: rgb(63, 63, 63);
    background-color: rgb(170, 184, 196);
}

.table_props {
    border: 2px solid;
    border-collapse: collapse;
    table-layout: fixed;
    margin: auto;
    padding-top: 2hv;
    background-color: #e495e4;

}

tr, td, th {
    width: 20vw;
    height: 4vh;
    border: 2px solid;
    padding: 1vh;
    text-align: center;
}

th {
    color: rgb(0, 0, 0);
    background-color: rgb(196, 227, 255);
    font-size: 2vh;
    font-style: bold;
    font-family: Times New Roman;
}

tr, td {
    color: rgb(0, 0, 0);
    /* background-color: rgb(255, 255, 255); */
    font-size: 2vh;
    font-style: normal;
    font-family: Times New Roman;
}

tbody tr:nth-child(odd) {
    background-color: rgb(222, 240, 255);
}

tbody tr:nth-child(even) {
    background-color:rgb(239, 248, 255);
}

.message_error {
    padding: 3vw;
    color: rgb(151, 21, 21);
}

.settings_form.row1 {
    justify-content: flex-start;
    margin-top: 2vh;
    margin-left: 23vw;

}

.select_list.row1 {
    width:53vw;
}

.button_center{
    display: flex;
    justify-content: center;
}

.message_win{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;

}
.message_win .message_win_content{
    margin:40vh auto 0px auto;
    width:20vw;
    height: 15vh;
    padding:1vh;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
   

}

.message_win_content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-color: rgb(196, 227, 255);
    font-size: 2vh;
    font-style: normal;
    font-family: Times New Roman;
}

#closeDialog {
    width: 8vw;
    height: 3vh;
}