<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/static/images/favicons/favicon-32x32.png">
    <link rel="stylesheet" href="\static\static\css\styles.css">
    <title>Zen-soft</title>
</head>
<body>
    <nav>
        <div class='navb'>
            <div class="navbar">
                <a href='/'><img class='logo' src='\static\static\images\og-image-default.png'></a>
                <a class='nav_btn' href='/settings'>Настройка ККМ</a>
                <a class='nav_btn' href='/props'>Свойства смены ККМ</a>
            </div>
        </div>
    </nav> 
    <div class='main'>
        {% block buttons %} 
            <div class='buttons'>
                <form action="/openShift" method="POST">
                    <input class='btn' type='submit' value='Открыть смену'>
                </form>    
                <form action="/closeShift" method="POST">
                    <input class='btn' type='submit' value='Закрыть смену'>
                </form> 
            </div>
        {% endblock %} 
        {% block body %}  {% endblock %}
        {% block message %} 
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <dialog class='message_win' open>
                    <div class='message_win_content'>
                        {{ message }}
                    
                    <button id="closeDialog">ОК</button>
                    </div>
                    </dialog>
                    <script>
                    var dialog = document.querySelector('dialog')
                    dialog.show() // Показываем диалоговое окно
                    
                    document.querySelector(
                        '#closeDialog'
                    ).onclick = function () {
                        dialog.close() // Прячем диалоговое окно
                    }
                    //alert({{message}});
                    </script>
                    
                {% endfor %}
            {% endif %}
        {% endwith %}
    
    {% endblock %}
</div>
</body>
</html>